#body {
    background-image: url("./assets/images/fondos-para-páginas-web-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
  }
  
@media (max-width: 576px) {
    #body {
        height: 100%;
    }
}